nav(role='nagivation').navbar.navbar-default
	div.navbar-header
		button(type="button", data-toggle="collapse").navbar-toggle
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a(href='/').navbar-brand Scaleway

	div.collapse.navbar-collapse
		ul.nav.navbar-nav
				- each item in locals.menu
					- if (item.isSub == false)
						- if (page.metadata.title == item.name)
							li.active
								a(href= item.url) #{item.name}
						- else
							li
								a(href= item.url) #{item.name}
					- else
						li.dropdown
							a(href="#", data-toggle="dropdown").dropdown-toggle #{item.name}
								b.caret
							ul(role="menu").dropdown-menu
								- each sub_item in item.submenu
									li
										a(href=sub_item.url) #{sub_item.name}
