nav(role='nagivation').navbar.navbar-default
	div.navbar-header
		button(type="button", data-toggle="collapse").navbar-toggle
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a(href='/').navbar-brand Scaleway

	div.collapse.navbar-collapse
		ul.nav.navbar-nav
			- each val, key in contents
				- if (contents[key]['markdown'])
					- if (page.metadata.title == val.title)
						li.active
							a(href= val.url) #{val.title}
					- else
						li
							a(href= val.url) #{val.title}
				- else
					li.dropdown
						- console.log(locals.menu[key])
						a(href="#", data-toggle="dropdown").dropdown-toggle #{locals.menu[key]}
							b.caret
						ul(role="menu").dropdown-menu
							- each sub_item in val
								li
									a(href=sub_item.url) #{sub_item.title}
